<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Consumo de la Drink API con VueJS 3" />
    <title>Cocktail API</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app">
      <div class="container">
        <center>
          <h1 class="p-3">{{title}}</h1>
          <hr />

          <label>
            Drink:
            <input type="text" v-model="search" placeholder="Drink Name" />
          </label>

          <button class="btn btn-dark m-2" @click="searchDrink">Search</button>
          <hr />

          <p>Search: {{search}}</p>
        </center>
        <div class="container">
          <div
            class="card p-3 m-3 row text-center"
            v-for="drink in drinks"
            :key="drink.idDrink"
          >
            <div class="col-5 col-sm-6 w-100">
              <img class="img-fluid" :src="drink.strDrinkThumb" alt="drink" />

              <h2>Drink Name: {{drink.strDrink}}</h2>

              <p>Instructions: {{drink.strInstructions}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./js/main.js"></script>
    <script src="./js/mountApp.js"></script>
  </body>
</html>
